.main-chat
 .header
  .leftside
   .leftside__title
    test
   %ul.leftside__members
    Member:
  .rightside
   .rightside__button
    =link_to '#' do
     Edit
 .message
  .list
   .list__name
    masa
    .list__daily
     2019/11/20(wed)17:43:01
   .list__text
    おはよう！
   .list__name
    taka
    .list__daily
     2019/11/21(wed)17:43:01
   .list__text
    こんばんはー
   .list__name
    shin
    .list__daily
     2019/11/22(wed)17:43:01
   .list__text
    こんにちはー
 .form
  .set
   %input.set__text{:placeholder => "type a message"}
    .set__mask
     %label.set__mask__image
      = icon('fa','image',class: 'icon')
      %input.hidden{type: 'file'}
   %input.form__submit{type: 'submit', value: 'Send'}
  