.side-bar
 .header
  %h3.header__box
   masa
  %ul.header__icon
   %li.icon
    = link_to '#' do
     = icon('fa', 'edit',class: 'icon')
   %li.icon
    =link_to '#' do
     = icon('fa', 'cog',class: 'icon')
 .groups
  .group
   .group__name
    techcamp
   .group__text
    まだメッセージがありません。
 